/*Children of the body element */

	body{
font-family: Arial, Verdana, sans-serif;
}	


/*Id of "container”*/

	#container{

border: 1px solid #665544;
	background-color: #efefef;
	padding: 10px;
}

/*Headings*/

	h1{

color: #ee3e80
}

/*Paragraphs*/
	
	p{
color: #665544
}	

/*Strong element*/

	color: green;


/*Em elements*/

	color: violet;